@{
    ViewData["Title"] = "Login";
}  
<style>
    body {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(lightblue,pink);
    }
</style>






<form action="/Login/Login" method="post">
    <div style="text-align:center">
        <h1><center>Welcome Customer!</center></h1>
        <br>
        <img src="/images/login_1.gif" width="150" height="150">
        <!-- <p>Image Source : https://dribbble.com/shots/5613387-Shopping-Cart-Icon-Animation </p> -->


        <br />

        <h2><center>Member Login</center></h2>
        <br>
        <p><center><font color="red">@TempData["Message"]</font></center></p>

        <div class="my_tbl">
            <div class="my_row">

                <div class="my_cell">
                    <b>Username</b> <input name="username" />
                </div>
            </div>
            <br />
            <div class="my_row">

                <div class="my_cell">

                    <b>Password</b>  <input name="password" type="password" />
                </div>
            </div>
            <div class="my_row">
                <div class="my_cell"></div>
                <br />
                <div class="my_cell" style="text-align: center">
                    <input type="submit" value="Login Member " class="btn btn-primary" id="Loginbutton" />
                    <br />
                    <br />


                </div>
            </div>
        </div>
</form>
<form action="/Login/Newusersignup" method="post">
    <div class="my_cell" style="text-align: center">

        <div class="my_cell" style="text-align: center">
            <input type="submit" value=" Sign-up  " class="btn btn-primary" id="Loginbutton" />
        </div>


    </div>

</form>

</div>




<!--New user Registration
-->
